<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title text-center primary">{{$ctrl.name}}</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            <span ng-if="$ctrl.isComplete" class="glyphicon glyphicon-ok">&nbsp;Done</span>
            <span ng-if="!$ctrl.isComplete" class="glyphicon glyphicon-minus">&nbsp;To do</span>
        </div>
    </div>
    <div>
        <button class="btn btn-default" ng-click="$ctrl.onUpdate({key: $ctrl.key})">Edit</button>
        <button class="btn btn-default" ng-click="$ctrl.onDelete({key: $ctrl.key})">Delete</button>
    </div>
</div>
