<div class="container">
    <div class="row">
        <button class="btn btn-primary" ng-click="lstCtrl.addNewItem()">Add new item</button>
        <h3>List of todo items</h3>
    </div>
    
    <div class="row" ng-if="lstCtrl.itemsList.length > 0">
        <cmp-item-view class="col-sm-4" ng-repeat="item in lstCtrl.itemsList"
                       key="{{item.key}}"
                       name="item.name"
                       is-complete="item.isComplete"
                       buttons-visible="true"
                       on-update="lstCtrl.Update(key)"
                       on-delete="lstCtrl.Delete(key)"></cmp-item-view>
    </div>
    <h4 class="text-center" ng-if="lstCtrl.itemsList.length === 0">
        No items in the list. Use "Add new item button" to add some.
    </h4>
</div>
